@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.css-dotted-border {
    border: 2px solid transparent;
    background: repeating-radial-gradient(
            circle at center,
            #000 0px,
            #000 2px,
            transparent 2px,
            transparent 6px
    );
    background-size: 12px 12px;
    background-position: -2px -2px;
    clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 100%,
            0 0,
            2px 2px,
            2px calc(100% - 2px),
            calc(100% - 2px) calc(100% - 2px),
            calc(100% - 2px) 2px,
            2px 2px
    );
}