@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.border-size-0 {
    max-width: 183px;
    max-height: 183px;
}
.border-size-1 {
    max-width: 162px;
    max-height: 162px;
}
.border-size-2 {
    max-width: 141px;
    max-height: 141px;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}
.animate-fadeInOut {
    animation: fadeInOut 2s ease-in-out forwards;
}


@media (min-width: 768px) {
    .border-size-0 {
        max-width: 200px;
        max-height: 200px;
    }
    .border-size-1 {
        max-width: 180px;
        max-height: 180px;
    }
    .border-size-2 {
        max-width: 160px;
        max-height: 160px;
    }

}

@media (min-width: 928px) {
    .border-size-0 {
        max-width: 335px;
        max-height: 335px;
    }
    .border-size-1 {
        max-width: 296px;
        max-height: 296px;
    }
    .border-size-2 {
        max-width: 257px;
        max-height: 257px;
    }
}

.css-dotted-border {
    border: 2px solid transparent;
    background: repeating-radial-gradient(
            circle at center,
            #000 0px,
            #000 2px,
            transparent 2px,
            transparent 6px
    );
    background-size: 12px 12px;
    background-position: -2px -2px;
    clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 100%,
            0 0,
            2px 2px,
            2px calc(100% - 2px),
            calc(100% - 2px) calc(100% - 2px),
            calc(100% - 2px) 2px,
            2px 2px
    );
}